*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}


h1{
    /* position: absolute ;
    left: 80px;
    top: 50px; */
    color: bisque;
    font-weight: bold;
    font-size: 50px;

}
.span1{
    font-weight: normal;
    color: white;
}
.head{
    /* border: 1px white solid; */
    /* width: 1400px; */
    display: flex;
    justify-content:space-between;
    /* position: relative;
    top: 50px;
    left: 60px; */
    margin: 60px;
    align-items: center;
}
.twopage{
    cursor: pointer;
}
.head1{
    /* border: 1px white solid; */
    width: 1400px;
    /* display: block; */
    display: flex;
    justify-content:space-between;
    /* position: relative;
    top: 50px;
    left: 60px; */
    margin: 60px;
    align-items: center;
}
.masterdiv{
    display: none;
}
h2{
    color: white;
}
.circle{
    
    height: 30px;
    width: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50% ;
   background-color: #00A5EC;
   
}
.plusicon{
    
    color: white;
    font-size: 20px;
    font-weight: bold;
    z-index: 5;
    
}
.childdiv{
    display: flex;
    cursor: pointer;
    
}
.childdiv1{
    display: flex;
    cursor: pointer;
}


.todos2{
    width: 100%;
    display: flex;
    justify-content: center;
}
.popup{
    display: none;
   position: fixed;
  
   top: 200px;
   left: 550px;
   border-radius: 10px;
    height: 200px;
    width: 400px;
    z-index: 5;
    border: 1px solid white;
    background-color:white;
    /* justify-content: center; */
    /* opacity: 1; */
}
.popup1{
    display: none;
   position: fixed;
  
   top: 200px;
   left: 550px;
   border-radius: 10px;
    height: 200px;
    width: 400px;
    z-index: 5;
    border: 1px solid white;
    background-color:white;
    /* justify-content: center; */
    /* opacity: 1; */
}
input{
text-align: center;
height: 30px;
width: 250px;
position: relative;
left: 80px;
top: 55px;
}
button{
    height: 30px;
    width: 100px;
    position: relative;
    left: 100px;
    top: 70px;
    border-radius: 20px;
    background-color: orangered;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

h4{
    text-align: center;
    font-size: 25px;
    position: relative;
    top: 40px;
    color: orangered;
}
p{
    
}
.todocontenier{
     height: auto; 
    /* width: 200vh; */
    border-radius: 10px;
    /* background-color: white; */
    /* position: relative;
    left: 50px;
    top: 70px; */
    margin: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.todocard{
    width: 20%;
    min-height: 350px;
    border-radius: 10px;
    background-color: white;
    border: 1px black solid;
    margin: 20px;
   color: orange;
    text-align: center;
    padding-bottom: 50px;
    
}
.line{
    border: 1px solid black;
    margin-top: 10px;
}
.circle1{
    
    background-image: url(./WhatsApp\ Image\ 2023-06-21\ at\ 01.29.37.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    height: 30px;
    width: 30px;
    position: relative;
    bottom: -90%; 
    left:30%;
    /* margin-top: 85%;
    margin-left: 85%; */
    display: inline-block;
    cursor: pointer;
}
/* .plusicon1{
    
    color: white;
    font-size: 20px;
    font-weight: bold;
    z-index: 5;
    
} */
.del{
    background-image: url(./png-clipart-button-icon-delete-button-text-sign.png);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    height: 30px;
    width: 30px;
    position: relative;
    bottom: -90%; 
    left:35%;
    /* margin-top: 85%;
    margin-left: 85%; */
    display: inline-block;
    cursor: pointer;
}
h3{
    margin: 10px;
    cursor: pointer;
}
#parent{
    filter: blur(0px);
    height: 100%;
}
.task{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 168px;
    font-size: 20px;
    position: relative;
    top: -35px;
        
}
.subbutton{
    height: 20px;
    width: 60px;
    /* position: relative;
    left: 100px;
    top: 70px; */
    border-radius: 20px;
    background-color: rgb(46, 143, 175);
    font-size: 10px;
    color: white;
    position: relative;
    top: 0
}
.nodisplay{
    display: none;
}
.noitem{
    font-size: 32px;
    color: aliceblue;
    margin: 30px;
    margin-left: 50px;
}
.secondpagestyle{
    /* display: flex; */
    display: none;
    
}

@media only screen and (min-width:250px)  and (max-width:600px){
   h1{
    font-size: 35px;
   } 
   .circle {
    height: 20px;
    width: 20px;
   }
   h2 {
    font-size: 20px;
   }
   .todocard {
    width: 100%;
    min-height: 350px;
    border-radius: 10px;
    background-color: white;
    border: 1px black solid;
    margin: 20px;
    text-align: center;
    padding-bottom: 50px;
}
.popup{
    height: 200px;
    width: 330px;
    top: 300px;
    left: 20px;
}
.popup1{
    top: 299px;
    left: 20px;
    height: 200px;
    width: 330px;
}
button{
    left: 65px;
    top: 70px;
}
input {
    height: 30px;
    width: 220px;
    left: 60px;
    top: 55px;
}
.head{
    margin: 20px;
}
.head1 {
    /* border: 1px white solid; */
      width: 94%;
    /* display: block; */
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}

.style{
    font-size: 25px;
    
}
.title{
    font-size: 30px;
}
.todos2{
    position: relative;
    left:40px;
    width: 82%;
}.task{
    font-size: 16px;
}
}
